.grid_12
  %h2 Editing comment

  = error_messages_for :comment

  - form_for(:comment, :url => object_url, :html => { :method => :put }) do |f|
    = render :partial => "form", :locals => {:f => f}
    %p= submit_tag "Update"

  = link_to 'Show', object_path
  |
  = link_to 'Back', objects_path
