%li[comment]
  %h3= h(comment.title)
  %p 
    = "von #{comment.user.login rescue 'unbekannt'} um #{comment.created_at.to_s(:db)}"
  %p= comment.to_html
  %p= link_to "Kommentar kommentieren", new_page_comment_comment_path(@page, comment)
  - if comment.children.size > 0
    %ul
      - comment.children.each do |child|
        = render :partial => "comments/comment", :locals => { :comment => child }