%h2
  Suchresultate
%h3
  = h(@query)
#adv_search_form
  = form_tag 
#results
  %ul
    - @results.each do |result|
      %li
        = link_to result.title, result
        %p
          = result.body
  = will_paginate(@search)