#login_box.container_12
  #main_nav
    %ul 
      %li= link_to_unless_current 'Referenz', pages_path
      %li= link_to_unless_current 'Errata', erratas_path
      %li= link_to_unless_current 'Download', :controller => 'files'
      %li= link_to_unless_current 'Chapters', chapters_path
      - if current_user && current_user.has_role?('system_admin')
        %li= link_to 'Edit Chapters', admin_chapters_path

  - if logged_in?
    .links
      = link_to "Logout #{current_user.login}", logout_path
  - else
    .links
      = link_to "Login", login_path, :class => "login_link"
      |
      = link_to "Registrieren", signup_path
      
      
#login_form{ :style => 'display: none;' }
  .container_12
    - form_tag session_path do
      %p
        %label{"for"=>"login"}
          Login
        = text_field_tag 'login'
    
        %label{"for"=>"password"}
          Password
        = password_field_tag 'password'
        = submit_tag 'Log in'

.clear