#login_box.container_16
  - if logged_in?
    .links
      = link_to "Logout #{current_user.login}", logout_path
  - else
    .links
      = link_to "Login", login_path, :class => "login_link"
      |
      = link_to "Registrieren", signup_path
      
- unless @pages.nil?
  %ul
    - @pages.each do |page|
      %li
        = link_to page.title, page_path(page)
      
#login_form.container_16{ :style => 'display: none;' }
  - form_tag session_path do
    %p
      %label{"for"=>"login"}
        Login
      = text_field_tag 'login'
    
      %label{"for"=>"password"}
        Password
      = password_field_tag 'password'
      = submit_tag 'Log in'

.clear