.grid_7.suffix_1
  #neuigkeiten.box
    %h4
      Professionelle Webentwicklung mit Ruby on Rails 2. 
      %br/
      Das Praxisbuch für Entwickler
    
    %h2 Neuigkeiten
    %p
      Im Moment arbeiten wir an einer aktualiserten Fassung des Buches für Rails 3. Sie 
      können eine Beta-Version des Buches direkt beim Verlag bestellen.
      %a{ :href => 'http://www.it-fachportal.de/betabook.html'} BetaBook bei it-fachportal.de
    %p
      Die Einleitung, sowie Kapitel 11, "RSpec und User Stories" sind als PDF erhältlich und können heruntergeladen werden.
      = link_to "Kapitel-Downloads", :controller => 'files'
    %p
    

  #source.grid_3.omega.box
    %h2= link_to "Source", :controller => :page, :action => :source
    %p
      Aller Code, der im Buch entwickelt wird (inklusive dem Code dieser Web- anwendung) finden Sie in unter: <br />
      = link_to 'Source', :controller => :page, :action => :source
      
  - unless logged_in?    
    #registrieren.grid_7.alpha.omega.box
      %h2= link_to "Registrieren", signup_path
      %p
        Als registrierter Benutzer haben Sie folgende weiteren Vorteile:

      %p
        = link_to 'Registrieren Sie sich', signup_path


.grid_4    
  #buch.box
    %h4 Das Buch zur Webseite
    %p

      = link_to(image_tag('book_cover.jpg'), 'http://www.mitp.de/vmi/mitp/detail/pWert/1683/titel/Ruby%20on%20Rails%202.0%20in%20der%20Praxis', { :class => 'no_ext'})
      Im 
      = link_to 'mitp Verlag', 'http://www.mitp.de/vmi/mitp/detail/pWert/1683/titel/Ruby%20on%20Rails%202.0%20in%20der%20Praxis'
      Verlag erschienen beschreibt dieses Buch den Aufbau einer komplexen Rails-Anwendung. 
  %p
  .clear

    

    



      

    


