//- content_for :sidebar do
//  %ul.selection
//    %li= link_to 'Referenz', pages_path

.grid_7.suffix_1
  #neuigkeiten
    %h4
      Die Begleitseite zum Buch.
    
    %h2 Neuigkeiten
    %p
      Proin suscipit bibendum lectus. Aenean placerat nunc sit amet libero. Etiam a sapien. Nunc ut turpis. Pellentesque fermentum nulla eget pede. Maecenas a urna et      augue condimentum venenatis. Quisque elementum sem a erat. Donec luctus, justo ac sodales dictum, metus neque sagittis magna, sed malesuada dolor nibh ut metus. Praesent eu nunc aliquet leo eleifend fringilla. Vivamus ac ligula. Nunc ut ligula. In sem. Maecenas id felis. Praesent rhoncus, erat sed iaculis venenatis, elit metus tristique elit, id semper purus augue non orci. Cras dui diam, accumsan id, interdum vel, aliquam sit amet, sem.
    
  #referenz.grid_3.suffix_1.alpha
    %h2= link_to  "Referenz", pages_path
    %p
      Eine umfassende 
      = link_to "Rails Referenz", pages_path

  #source.grid_3.omega
    %h2= link_to "Source", :controller => :page, :action => :source
    %p
      Aller Code, der im Buch entwickelt wird (inklusive dem Code dieser Web- anwendung) finden Sie in unter: <br />
      = link_to 'Source', :controller => :page, :action => :source

.grid_4    
  #buch
    %h4 Das Buch zur Webseite.
    %p
      = link_to "<img src='http://www.mitp.de/images/130p/978-3-8266-1683-9.gif' border='0' />", 'http://www.mitp.de/vmi/mitp/detail/pWert/1683/titel/Ruby%20on%20Rails%202.0%20in%20der%20Praxis'
      Proin suscipit bibendum lectus. Aenean placerat nunc sit amet libero. Etiam a sapien. Nunc ut turpis. Pellentesque fermentum nulla eget pede. Maecenas a urna et augue condimentum venenatis. 
      
  #errata
    %h2= link_to "Errata", "#"
    %p
      Fehler? Leider nicht zu Vermeiden... Hier geht es zu der bekannten Fehlern:<br />
      = link_to "Errata", "#"

  #twitter
    %h2 Letzte 3 News
    %ul#twitter_update_list


  - unless logged_in?    
    %h2= link_to "Registrieren", signup_path
    %p
      Als registrierter Benutzer haben Sie folgende weiteren Vorteile:
      
    %ul
      %li Zugriff auf weitere Kapitel des Buches
      %li Möglichkeit Kommentare abzugeben
    %p
      = link_to 'Registrieren Sie sich', signup_path
    
%script{ :type => "text/javascript", :src => "http://twitter.com/javascripts/blogger.js" }
%script{ :type => "text/javascript", :src => "http://twitter.com/statuses/user_timeline/rails_praxis.json?callback=twitterCallback2&count=3" }

