%h1= h(@page.title)

= link_to 'Kommentar schreiben', tests_path,  :class => "ajax"

- if logged_in?
  = link_to "Bearbeiten", edit_page_path(@page)

#publish_state
  = render :partial => 'published_state'

#main_content
  ~ @page.to_html

#comments
  %h2 Kommentare

  %ul
    - @page.comments.each do |comment| 
      = render :partial => "comments/comment", :locals => { :comment => comment }
        
          
  - if logged_in?
    %div{:id => "comment_#{@page.id}_response", :style => 'display: none'}
      gogog
    = ajax_link_to 'Kommentar schreiben', new_page_comment_path(@page),  :class => "bla"
  - else
    = link_to "Registrieren um zu kommentieren", signup_path