%h2= h(@page.title)

- if logged_in? && @page.user == current_user
  = link_to "Bearbeiten", edit_page_path(@page)
  = render :partial => 'published_state'

#owner
  %p
    von
    = @page.user.login
    &nbsp;
    = @page.created_at.to_s(:db)

#main_content
  ~ @page.to_html

#comments
  %h3 Kommentare

  %ul{:id => "children_#{@page.id}"}
    - @page.comments.each do |comment| 
      = render :partial => "comments/comment", :locals => { :comment => comment }
        
          
  - if logged_in?
    %div{:id => "comment_#{@page.id}_response", :style => 'display: none'}
    = ajax_link_to 'Kommentar schreiben', new_page_comment_path(@page)
  - else
    = link_to "Registrieren um zu kommentieren", signup_path