%h2 Kapitel herunterladen

%p
  = flash["error"]

%p
  Die folgenden Kapitel des Buches sind als PDF Dateien verfügbar:
%p
  = link_to(image_tag('book_cover.jpg'), 'http://www.mitp.de/vmi/mitp/detail/pWert/1683/titel/Ruby%20on%20Rails%202.0%20in%20der%20Praxis', { :class => 'no_ext'})
  Über den 
  = link_to 'mitp Verlag', 'http://www.mitp.de/vmi/mitp/detail/pWert/1683/titel/Ruby%20on%20Rails%202.0%20in%20der%20Praxis'
  Verlag bestellen.
%p
  Das Buch ist auch als PDF Version verfügbar. Sie können die PDF Version bei 
  = link_to 'InVisible GmbH', 'http://www.invisible.ch'
  für 38 Franken 
  = link_to "bestellen", 'http://rails-praxis.myshopify.com'
%table
  %tr
    %th Kapitel
    %th Zähler
  - @files.each do |fname, title|
    %tr
      %td= link_download fname, title
      %td= @counts[fname] 