.grid_12
  %h2 Errata Administration

  %div[current_object]
    %p 
      = "von #{@errata.user.login rescue 'unbekannt'} um #{@errata.created_at.to_s(:db)}"
      
    - form_for(:errata, :url => admin_errata_path(@errata), :html => {:method => 'put'}) do |f|
      = render :partial => "form.html.haml", :locals => {:f => f}
      %p
        = submit_tag "Speichern"
        &nbsp;
        = @errata.reviewed? ? "Reviewed" : link_to("Publish", :action => "publish", :id => @errata.id)
        | 
        = link_to 'Destroy', admin_page_path(@errata), :confirm => 'Really destroy page?', :method => :delete
        |
        = link_to 'Index', admin_erratas_path