!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title= @title || "Referenz"
    = stylesheet_link_tag 'gs/reset'
    = stylesheet_link_tag 'gs/960'
    = stylesheet_link_tag 'referenz'
    
    = javascript_include_tag 'jquery-1.2.3.js'
    = javascript_include_tag 'jquery.form.js', 'jquery.livequery.pack.js', 'jquery.scrollTo-min.js', 'jquery.localscroll-min.js', 'jrails'
    = javascript_include_tag 'application'


  %body
    
    #header
      .container_12.relative
        %h1
          = link_to( @title || "Rails-Praxis", "/")
        #flash
          = flash[:notice]
        = render :partial => "shared/search"
      #navigation
        = render :partial => 'shared/navigation'

    #main.container_12
      #content
        = yield
      #sidebar.grid_4
        = yield :sidebar
      .clearboth
        &nbsp;
      
    #footer
      #about.container_12
        .grid_3.suffix_1
          %h3 About
          %p
            Aliquam erat volutpat. Nunc consequat blandit ligula. 
            
        .grid_3.suffix_1
          %h3 Impressum
          %p
            Donec molestie justo in quam. Fusce venenatis porttitor ante. 
        .clear
        
      #bottom
        .container_12.relative
          %p
            %span#ueber_uns
              Über Rais Praxis
            %span#copyright
              &copy; 2007-
              = Time.now.year

