!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title= @title || "Referenz"
    = stylesheet_link_tag 'referenz'
    = javascript_include_tag 'jquery-1.2.3.js'
    = javascript_include_tag 'jquery.form.js', 'jquery.livequery.pack.js', 'jquery.scrollTo-min.js', 'jquery.localscroll-min.js', 'jrails'
    = javascript_include_tag 'application'

  %body
    #header
      %h1
        = link_to( @title || "Referenz", "/")
      #flash
        = flash[:notice]
      #navigation
        = render :partial => "shared/navigation"
      = render :partial => 'shared/login'

   
    #main
      #sidebar
        = yield :sidebar
      #content
        = yield
      #clear
    #footer
      %p
        &copy; 2007-
        = Time.now.year
