!!!
%html
  %head
    %title= @title || "Referenz"
    = stylesheet_link_tag 'referenz'
    = javascript_include_tag 'jquery-1.2.3.js', 'application'
    // = javascript_include_tag :all#, :cache => true
  %body
    #header
      %h1= @title || "Referenz" 
      #flash
        = flash[:notice]
      #navigation
        = render :partial => "shared/navigation"
      = render :partial => 'shared/login'

   
    #main
      #sidebar
        = yield :sidebar
      #content
        = yield
      #clear
    #footer
      %p
        &copy; 2007-
        = Time.now.year
  // = javascript_tag("new Effect.Highlight('flash'); new Effect.BlindUp('flash')") #if flash[:notice]