!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title= @title || "Rails-Praxis"
    = stylesheet_link_tag 'gs/reset'
    = stylesheet_link_tag 'gs/960'
    = stylesheet_link_tag 'referenz'
    
  %body
    #header
      .container_12.relative
        %h1
          = link_to( @title || "Rails-Praxis", "/")
        = render :partial => "shared/search"
      #navigation
        = render :partial => 'shared/navigation'

    #main.container_12
      #flash.grid_12
        = flash[:notice] if flash[:notice]
        = flash[:error] if flash[:error]
      #content
        = yield
      #sidebar.grid_4
        = yield :sidebar
      .clearboth
        &nbsp;
      
    #footer
      #about.container_12
        .grid_3.suffix_1
          %h3 Über Rails-Praxis
          %p
            Die Webseite enthält das Begleitmaterial zum Buch »Ruby on Rails 2.0« von Jens-Christian Fischer, erschienen im mitp Verlag, 2008
            
        .grid_2.suffix_1
          %h3 Impressum
          %p
            InVisible GmbH
            %br/
            Jens-Christian Fischer
            %br/
            Erlachstrasse 25
            %br/
            CH-8003 Zürich
        .grid_2.suffix_1
          %h3 &nbsp;
          %p
            = link_to 'www.invisible.ch', 'http://www.invisible.ch', { :class => 'no_ext'}
            %br/
            = link_to 'blog.invisible.ch', 'http://blog.invisible.ch', { :class => 'no_ext'}
            %br/
            Mobile: +41 79 691 05 48
            %br/
            jcf (at) invisible.ch
        
        .clear
        
      #bottom
        .container_12.relative
          %p
            %span#ueber_uns
              Über Rails Praxis
            %span#copyright
              &copy; Jens-Christian Fischer, 2007-
              = Time.now.year

    = javascript_include_tag 'jquery-1.2.3.js'
    = javascript_include_tag 'jquery.form.js', 'jquery.livequery.pack.js', 'jquery.scrollTo-min.js', 'jquery.localscroll-min.js', 'jrails'
    = javascript_include_tag 'application'
      
    %a{ :href => "http://piwik.org", :title => "Web analytics", :onclick => "window.open(this.href);return(false);"}
      %script{ :type => "text/javascript" }
        var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.take-back-the-net.org/" : "http://stats.take-back-the-net.org/");
        document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
      %script{ :type => "text/javascript" }
        piwik_action_name = '';
        piwik_idsite = 4;
        piwik_url = pkBaseURL + "piwik.php";
        piwik_log(piwik_action_name, piwik_idsite, piwik_url);
      %object
        %noscript
          %p 
            Web analytics 
            %img{ :src => "http://stats.take-back-the-net.org/piwik.php?idsite=4", :style => "border:0", :alt => ""}


      