!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title= @title || "Referenz"
    = stylesheet_link_tag 'gs/reset'
    = stylesheet_link_tag 'gs/960'
    = stylesheet_link_tag 'gs/text'
    = stylesheet_link_tag 'referenz'
    = javascript_include_tag 'jquery-1.2.3.js'
    = javascript_include_tag 'jquery.form.js', 'jquery.livequery.pack.js', 'jquery.scrollTo-min.js', 'jquery.localscroll-min.js', 'jrails'
    = javascript_include_tag 'application'

  %body
    
    #header
      .container_16.relative
        %h1
          = link_to( @title || "Rails-Praxis", "/")
        #flash
          = flash[:notice]
        = render :partial => "shared/navigation"
        #navigation
          = render :partial => 'shared/login'

   
    #main.container_16
      #sidebar
        = yield :sidebar
      #content
        = yield
      #clear
    #footer
      .container_16
        &copy; 2007-
        = Time.now.year
